# Ignore everything by default
*

# Allow essential repository files
!.gitignore

# Allow the path to the Duality Submission Package
!duality project/
duality project/*
!duality project/Offroad_Segmentation_Scripts/
duality project/Offroad_Segmentation_Scripts/*
!duality project/Offroad_Segmentation_Scripts/Duality_Submission/
duality project/Offroad_Segmentation_Scripts/Duality_Submission/*
!duality project/Offroad_Segmentation_Scripts/Duality_Submission/Duality_Submission_Package/
!duality project/Offroad_Segmentation_Scripts/Duality_Submission/Duality_Submission_Package/**

# Ignore heavy model weights (>100MB) to prevent GitHub push rejection
*.pth
