# Ignore large datasets and archives in duality project
duality\ project/Offroad_Segmentation_Training_Dataset/
duality\ project/Offroad_Segmentation_testImages/
duality\ project/*.zip

# Ignore specific large output folders across all projects
duality\ project/Offroad_Segmentation_Scripts/*/predictions/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
